services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    env_file:
      - .env
    environment:
      - POSTGRES_DB:$POSTGRES_DB
      - POSTGRES_USER:$POSTGRES_USER
      - POSTGRES_PASSWORD:$POSTGRES_PASSWORD
      - TZ:'GMT'
      - PGTZ:'GMT'
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data


  backend:
    build:
      context: ./todo-api
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      NODE_ENV: production
    ports:
      - "${BACKEND_PORT:-3000}:3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./todo-web
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT:-80}:80"
    depends_on:
      - backend

  migrations:
    build:
      context: ./todo-api
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      NODE_ENV: production
    depends_on:
      - db
    command: [ "npm", "run", "migration:run" ]


volumes:
  postgres-data: