.description {
    white-space: pre-wrap;
    margin-bottom: 20px;
}
.task {
    padding: 25px;
}

.task .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task .title h1 {
    word-break: break-all;
}